
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>京东(JD.COM)-正品低价、品质保障、配送及时、轻松购物！</title>
<meta name="description"
	content="京东JD.COM-专业的综合网上购物商城,销售家电、数码通讯、电脑、家居百货、服装服饰、母婴、图书、食品等数万个品牌优质商品.便捷、诚信的服务，为您提供愉悦的网上购物体验!">
<!-- 图标 -->
<link rel="icon" href="./favicon.ico" mce_href="./favicon.ico"
	type="image/x-icon">

<link href="css/JcBootstrap.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/index.css" rel="stylesheet">
</head>
<script src="js/jquery-1.11.1.js"></script>
<script src="js/index.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/JcBootstrap.js"></script>
<body style="background-color:#f0f3ef">
	<!-- 标题图片 -->
	<div class="bg-color-pink">
		<div class="container">
			<div class="row">
				<div class="col-lg-12" style="position:fix">
					<img src="img/titleImg.jpg">
				</div>
			</div>
		</div>
	</div>

	<div class="img-fix-right-top"></div>


	<!-- 导航条 -->
	<div class="bg-color-gray" style="display:block; ">
		<div class="container" style="height:31px">
			<div class="row" style="position:absolute">
				<div class="col-lg-2" style="position:relative">
					<div class="bg-img-spriteHead1"
						style="border-bottom:#000 solid 1px"></div>
					<div class="bg-color-white"
						style="top:170px; width:190px; line-height:26px; padding-left:10px; color:#626262">家用电器</div>
					<div class="bg-color-white"
						style="top:170px; width:190px; line-height:26px; padding-left:10px; color:#626262">手机/运营商/家用电器</div>
					<div class="bg-color-white"
						style="top:170px; width:190px; line-height:26px; padding-left:10px; color:#626262">电脑/办公</div>
					<div class="bg-color-white"
						style="top:170px; width:190px; line-height:26px; padding-left:10px; color:#626262">家居
						/ 家具 / 家装 / 厨具</div>
					<div class="bg-color-white"
						style="position: relative; width:190px; line-height:26px; padding-left:10px; color:#626262">男装
						/ 女装 / 童装 / 内衣</div>
					<div class="bg-color-white"
						style="position: relative; width:190px; line-height:26px; padding-left:10px; color:#626262">美妆
						/ 个护清洁 / 宠物</div>
					<div class="bg-color-white"
						style="position: relative; width:190px; line-height:26px; padding-left:10px; color:#626262">女鞋
						/ 箱包 / 钟表 / 珠宝</div>
					<div class="bg-color-white"
						style="position: relative; width:190px; line-height:26px; padding-left:10px; color:#626262">男鞋
						/ 运动 / 户外</div>
					<div class="bg-color-white"
						style="position: relative; width:190px; line-height:26px; padding-left:10px; color:#626262">房产
						/ 汽车 / 汽车用品</div>
					<div class="bg-color-white"
						style="position: relative; width:190px; line-height:26px; padding-left:10px; color:#626262">母婴
						/ 玩具乐器</div>
					<div class="bg-color-white"
						style="position: relative; width:190px; line-height:26px; padding-left:10px; color:#626262">食品
						/ 酒类 / 生鲜 / 特产</div>
					<div class="bg-color-white"
						style="position: relative; width:190px; line-height:26px; padding-left:10px; color:#626262">艺术
						/ 礼品鲜花 / 农资绿植</div>
					<div class="bg-color-white"
						style="position: relative; width:190px; line-height:26px; padding-left:10px; color:#626262">医药保健
						/ 计生情趣</div>
					<div class="bg-color-white"
						style="position: relative; width:190px; line-height:26px; padding-left:10px; color:#626262">图书
						/ 文娱 / 电子书</div>
					<div class="bg-color-white"
						style="position: relative; width:190px; line-height:26px; padding-left:10px; color:#626262">机票
						/ 酒店 / 旅游 / 生活</div>
					<div class="bg-color-white"
						style="position: relative; width:190px; line-height:26px; padding-left:10px; color:#626262">理财
						/ 众筹 / 白条 / 保险</div>
					<div class="bg-color-white"
						style="position: relative; width:190px; line-height:26px; padding-left:10px; color:#626262">安装
						/ 维修 / 清洗保养</div>
					<div class="bg-color-white"
						style="position: relative; width:190px; line-height:26px; padding-left:10px; color:#626262">工业品</div>
				</div>

				<div class="col-lg-10 NavigationBar">
					<a style=" line-height:30px;"><span
						class="glyphicon glyphicon-map-marker" style="color:#F00;"></span>北京</a>
					<a href="login.html" class="username" style=" color:#f10215; line-height:30px">请登录</a>
					<a style=" line-height:30px; border-right: #CCC solid 1px; ">免费注册</a>
					<a style=" line-height:30px;  border-right: #CCC solid 1px"">我的订单</a>
					<a style=" line-height:30px;  border-right: #CCC solid 1px"">我的京东</a>
					<a style=" line-height:30px;  border-right: #CCC solid 1px"">京东会员</a>
					<a style=" line-height:30px;  border-right: #CCC solid 1px"">企业采购</a>
					<a style=" line-height:30px;  border-right: #CCC solid 1px"">客户服务</a>
					<a style=" line-height:30px;  border-right: #CCC solid 1px"">网站导航</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container">

		<br />
		<div class="row">
			<div class="col-lg-4 col-lg-offset-3">
				<div class="input-group">
					<input type="text" class="form-control"><span
						style="background:#F00; color:#FFF; top: -0.5px;"
						class="glyphicon glyphicon-search input-group-addon btn"></span>
				</div>

			</div>
			<div class="col-lg-2 col-lg-offset-1"
				style="background:#FFF; padding:9px; width:195opx; text-align:center">
				<span class="glyphicon glyphicon-shopping-cart"
					style="margin:0 auto; color:#F00">我的购物车<sup class="label"
					style=" border-radius:50%; background-color:#F00">0</sup> </span>
			</div>
		</div>
		<br />
		<div style="width:100%;hight:100px; ">
			<div class="container">
				<div class="row">
					<div class="col-lg-1 col-lg-offset-2">秒杀</div>
					<div class="col-lg-1">优惠券</div>
					<div class="col-lg-1">PLUS会员</div>
					<div class="col-lg-1">闪购</div>
					<div class="col-lg-1">拍卖</div>
					<div class="col-lg-1">京东时尚</div>
					<div class="col-lg-1">京东超市</div>
					<div class="col-lg-1">京东生鲜</div>
					<div class="col-lg-1">海囤全球</div>
					<div class="col-lg-1">京东金融</div>
				</div>
			</div>
			<br>
			<div class="container">
				<div class="row">
					<div id="CarouselTheme"
						class="Jc_bg carousel slide col-lg-8 col-lg-offset-2"
						style="height: 470px">
						<!-- 轮播（Carousel）指标 -->
						<ol class="carousel-indicators">
							<li data-target="#CarouselTheme" data-slide-to="0" class="active"></li>
							<li data-target="#CarouselTheme" data-slide-to="1"></li>
							<li data-target="#CarouselTheme" data-slide-to="2"></li>
							<li data-target="#CarouselTheme" data-slide-to="3"></li>
						</ol>
						<!-- 轮播（Carousel）项目 -->
						<div class="carousel-inner" style="z-index: -1">
							<div class="item active" style="height: 470px;">
								<img height="100%" src="img/CarouselThemeImg0.jpg"
									style="min-width: 470px;" alt="First slide"></img>
							</div>
							<div class="item" style="height: 470px">
								<img height="100%" src="img/CarouselThemeImg1.jpg"
									style="min-width: 470px;" alt="Second slide"></img>
							</div>
							<div class="item" style="height: 470px">
								<img height="100%" src="img/CarouselThemeImg2.jpg"
									style="min-width: 470px;" alt="Third slide"></img>
							</div>
							<div class="item" style="height: 470px">
								<img height="100%" src="img/CarouselThemeImg3.jpg"
									style="min-width: 470px;" alt="Fourth slide"></img>
							</div>
						</div>
						<!-- 轮播（Carousel）导航 -->
						<a class="left carousel-control" href="#CarouselTheme"
							style="top: 180px;left: 15px;height: 100px;width: 50px;"
							role="button" data-slide="prev"> <span
							class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span> </a> <a
							class="right carousel-control" href="#CarouselTheme"
							style="top: 180px;right: 15px;height: 100px;width: 50px;"
							role="button" data-slide="next"> <span
							class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span> </a>
					</div>
					<!-- 头像 -->
					<div class="panel col-lg-2" style="height: 470px">
						<img class="img-circle mg-thumbnail" height="70px" width="70px"
							style="margin-left: 40px;margin-top:-10px;display: block;"
							src="http://localhost:9513/store/getHeadPortrait.do">

						<!-- 用户信息 -->
						<br /> <a class="username" href="login.html"
						 style="margin-left: 10px; left:50%;">请登录</a>
						<sup class="label"
							style=" border-radius:50%; background-color:gray;">V0</sup>

						<!--  -->
						<br /> <a  style="margin: 10px">充值</a><a id="regisOrLogout"  href="regis.html" style="margin: 10px">注册</a>


						<!-- 开通会员 -->
						<br>
						<div class="bg_change_red"
							style="border-radius:20px;height: 20px;width: 160px; box-shadow:10px 10px 20px 4px #CCC;padding-left:10px;padding-top: 3px; margin-top: 10px">
							<font class="font_change_white">开通会员 平均省1012元/年</font>
						</div>

						<!-- 京东快报 -->
						<br> <b>京东快报</b> <a style="margin-left: 50px;">更多></a> <br>
						<ul class="news_list">
							<li><span class="label label-info">公告</span>京东启用全新客服电话“950618”
							</li>
							<li><span class="label label-warning">活动</span>优选好货 <br>
							</li>
							<li><span class="label label-danger">热门</span>华为P30新旗舰：麒麟980+100%全面屏+超高技术
							</li>
							<li><span class="label label-danger">推荐</span>小米9使用三天后的个人体验，说一说优缺点！
							</li>
						</ul>
						<hr>
						<table class="service_pop">
							<tr>
								<td class="col-md-1">
									<span class="glyphicon glyphicon-phone-alt"
										style="color: #bea68d;position: relative;">
										<font class="font_belowDiv">话费</font> </span>
								</td>
								<td class="col-md-1">
									<span class="glyphicon glyphicon glyphicon-plane"
										style="color: #bea68d;position: relative;">
										<font class="font_belowDiv">机票</font> </span>
								</td>
								<td class="col-md-1">
									<span class="glyphicon glyphicon 	glyphicon glyphicon-cutlery"
										style="color: #bea68d;position: relative;">
										<font class="font_belowDiv">美食</font> </span>
								</td>
							</tr>
							<tr>
								<td class="col-lg-1">
									<span class="glyphicon glyphicon-heart"
										style="color: #bea68d;position: relative;">
										<font class="font_belowDiv">众筹</font> </span>
								</td>
									<td class="col-lg-1">
									<span class="glyphicon glyphicon-tint"
										style="color: #bea68d;position: relative;">
										<font class="font_belowDiv">加油</font> </span>
								</td>
									<td class="col-lg-1">
									<span class="glyphicon glyphicon-facetime-video "
										style="color: #bea68d;position: relative;">
										<font class="font_belowDiv">电影</font> </span>
								</td>
							</tr>
							<tr>
							<td class="col-lg-1">
									<span class="glyphicon glyphicon-glass"
										style="color: #bea68d;position: relative;">
										<font class="font_belowDiv">酒吧</font> </span>
								</td>
							
								<td class="col-lg-1">
									<span class="glyphicon glyphicon-wrench"
										style="color: #bea68d;position: relative;">
										<font class="font_belowDiv">维修</font> </span>
								</td>
								<td class="col-lg-1">
									<span class="glyphicon glyphicon-list-alt"
										style="color: #bea68d;position: relative;">
										<font class="font_belowDiv">白条</font> </span>
								</td>
							
							</tr>
						</table>


					</div>
				</div>
			</div>


		</div>
	</div>
	<div>
</body>
<footer>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">关于我</li>
		<li class="breadcrumb-item">服务协议</li>
		<li class="breadcrumb-item">权利声明</li>
		<li class="breadcrumb-item">版本更新</li>
		<li class="breadcrumb-item">帮助中心</li>
		<li class="breadcrumb-item">版权投诉</li>

	</ol>
</footer>
</html>
<script type="text/javascript">
     path = "http://localhost:9513/store";
	$("#CarouselTheme").carousel()
		// 已登陆
 	 $.ajax({
		url : path+"/getUsername.do",
		success : function(result) {
		alert("|"+result+"|");
		 	if (result != null && result!="" && result != "null") {
			$(".username").text("Hi,"+result);
			$(".username").attr("href","personalUserInformation.html");
			$("#regisOrLogout").text("退出");
			$("#regisOrLogout").attr("href","logOut.do");
			}
		} 
	});    
	
</script>
