﻿<html lang="en">
<head>
<title>操作成功提示</title>
<meta charset="utf-8" />
<meta name="renderer" content="webkit" />
<title>登陆页面</title>

<script>
setTimeout(function(){window.location.href="index"},3000);
</script>
<!-- css -->
<!-- 引入bootstrap -->
<link href="css/success.css" rel="stylesheet"/>
 
</head>
<body>
<div  class="MessageBox">
<div class="div_img_success"><img alt="操作成功图片丢失" class="fullimg" src="img/success.svg"/></div>
<h3 class="font_message">操作成功！</h3>
<h3 class="font_gotoshow">页面自动跳转中...</h3>
<h3 class="font_gotonowshow">点击<a href="index" class="font_gotonow">这里</a>立即跳转</h3>
</div>


</body>
</html>
